@import '_settings.less';

.biobox-item-good {
  color: green;
}

.biobox-item-bad {
  color: red;
}

.biobox {
  padding-bottom: 50px;
}

.content {
  color: @primary;

  h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: Raleway, sans-serif;
    text-transform: lowercase;
    font-variant: small-caps;
  }

  h1 {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  h2 {
    font-size: 1.8em;
    letter-spacing: 0.1em;
    line-height: 2;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
  }

  p, ul {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
  }

  a {
    font-weight: bold;
  }

  pre {
    margin-top: 2em;
    margin-bottom: 2em;
    padding-top: 0;

    span.code-block-title {
      line-height: 3;
    }
  }

  .pager {
    padding-top: 2em;
    a {
      width: 25%;
    }
  }

}
