@import '_settings.less';

@sidebar-width: 280px;

.main {
  .make-row();
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: @sidebar-width;
  width: 0;
  height: 100%;
  margin-left: -1 * @sidebar-width;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar-nav {
  position: absolute;
  width: @sidebar-width;
  margin-left: 2em;
}

.content-wrapper {
  width: 100%;
  position: absolute;
}

.content {
  margin-left:  1em;
  margin-right: 1em;
}

@media(min-width:768px) {
  .main {
    padding-left: @sidebar-width * .95;
  }
  .sidebar-wrapper {
    width: @sidebar-width;
  }
  .content-wrapper {
    position: relative;
    padding: 0;
    margin: 0;
  }
  .sidebar-nav {
    margin-top: 6em;
  }
  .content {
    width: 500px;
    margin-top: 6em;
    margin-right: 3em;
  }
}
