!!! 5
%HTML{lang: "en"}

  = partial "_header"

  %body
    %nav{class: "navbar"}
      .container-fluid
        .navbar-header
          %a{class: "navbar-brand", href: "/"}
            bio
            %strong
              boxes


    .container
      .main
        .content
          = yield
