!!! 5
%HTML{lang: "en"}

  %link{rel: "stylesheet", href: "/stylesheets/stylesheet.css" }

  %script{src: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"}

  %meta{name: "viewport", content: "width=device-width, initial-scale=1"}

  %body
    .container
      .banner
        .content
          %img{src: "https://raw.githubusercontent.com/bioboxes/logo/0c6bfccd2440ccf06356243ba71b32588ad40617/logo_dark.png", class: 'img-responsive'}
      .main
        .content
          = yield
