!!! 5
%HTML{lang: "en"}

  = partial "_header"

  %body
    .container
      .banner
        .content
          %img{src: "https://s3-us-west-1.amazonaws.com/bioboxes-images/logo/0.1.1/logo_horizontal_dark.png", class: 'img-responsive', alt: "Bioboxes Logo"}
      .main
        .content
          = yield
