!!! 5
%HTML{lang: "en"}

  %link{rel: "stylesheet", href: "/stylesheets/stylesheet.css" }

  %script{src: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"}

  %meta{name: "viewport", content: "width=device-width, initial-scale=1"}

  %body
    .container
      .title
        .content
          %h1
            Bioboxes
      .main
        .content
          = yield
