!!! 5
%HTML{lang: "en"}

  %link{rel:  "stylesheet",
        href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"}

  %link{rel:  "stylesheet",
        href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"}

  %link{rel: "stylesheet", href: "/stylesheets/stylesheet.css" }


  %script{src: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"}

  %meta{name: "viewport", content: "width=device-width, initial-scale=1"}

  %body
    .container
      .row.title
        .div{class: "col-md-3"}
        .div{class: "col-xs-12 col-md-6"}
          %h1
            Bioboxes
        .div{class: "col-md-3"}
      .row
        .div{class: "col-md-3"}
        .div{class: "col-xs-12 col-md-6"}
          = yield
        .div{class: "col-md-3"}
