!!! 5
%HTML{lang: "en"}

  = partial "_header"

  %body
    .container
      .banner
        .description
          .logo-background
            .logo-padding
            .logo
            .logo-title
              %h1
                bio
                %strong
                  boxes
          .tagline
            %h2
              a standard for creating interchangable bioinformatics software containers
      .menus
        .left-menu
          %h3
            Documentation
          %ul
            %li
              %a{:href => "/about/"}
                About
            %li
              %a{:href => "/guide/user/"}
                User Guide
            %li
              %a{:href => "/guide/developer/"}
                Developer Guide
            %li
              %a{:href => "/available-bioboxes/"}
                Available Bioboxes
            %li
              %a{:href => "/contribute/getting-started/"}
                How to Help
        .right-menu
          %h3
            Community
          %ul
            - data.guides.community.each do |name, url|
              %li
                %a{:href => url}
                  = name
