!!! 5
%HTML{lang: "en"}

  = partial "_header"

  %body
    = partial "_nav"
    .container-fluid
      .banner
        .description
          %img{src: logo("logo_only_dark.png"), class: "logo", alt: "Bioboxes Logo"}
          %h1
            bio
            %strong
              boxes
          %h2
            hassle-free installation and use of bioinformatics software
