!!! 5
%HTML{lang: "en"}

  = partial "_header"

  %body
    .container-fluid
      .banner
        .description
          .logo-background
            .logo-padding
            .logo
            .logo-title
              %h1
                bio
                %strong
                  boxes
          .tagline
            %h2
              a standard for creating interchangable bioinformatics software containers
      .menus
        .left-menu
          %h3
            Documentation
          %ul
            %li
              %a{:href => "/guide/user/"}
                User Guide
            %li
              %a{:href => "/getting-started/"}
                Getting Started
            %li
              %a{:href => "/how-to-create-a-biobox/"}
                Create a Biobox
            %li
              %a{:href => "/contribute/getting-started/"}
                How to Help
            %li
              %a{:href => "/contribute/how-to-contribute/"}
                Contribution Guide
        .right-menu
          %h3
            Community
          %ul
            %li
              %a{:href => "https://github.com/bioboxes"}
                GitHub
            %li
              %a{:href => "https://github.com/bioboxes/rfc"}
                Request for Comments
            %li
              %a{:href => "https://github.com/bioboxes/rfc/issues"}
                Issue Tracker
            %li
              %a{:href => "https://gitter.im/bioboxes/rfc"}
                Chat Room
            %li
              %a{:href => "/organisation/"}
                Organisation
