!!! 5
%HTML{lang: "en"}

  = partial "_header"

  %body
    .container-fluid
      .splash
        .description
          %img{src: logo("logo_only_dark.png"), class: "logo", alt: "Bioboxes Logo"}
          %h1
            = "bio"
            %strong="boxes"
          %h2
            Reproducible bioinformatics through
