!!! 5
%HTML{lang: "en"}

  = partial "_header"

  %body
    .container
      .banner
        .description
          .logo-background
            .logo-padding
            .logo
            .logo-title
              %h1
                bio
                %strong
                  boxes
          .tagline
            %h2
              a standard for creating interchangeable bioinformatics software containers
      .menus
        %a.front-menu#left-front-menu{href: '/docs/example-biobox-use/'}
          %img{src: image("getting-started.png"), class: "title-image", alt: "Jack in the biobox"}
          %h3
            quick start
          %p
            see the quick start guide on how bioboxes works
        %a.front-menu#middle-front-menu{href: '/docs/'}
          %span{class: "glyphicon glyphicon-file", "aria-hidden": true}
          %h3
            documentation
          %p
            read through the documentation on how to use and create a biobox
        %a.front-menu#right-front-menu{href: '/available-bioboxes/'}
          %img{src: image("single-biobox.png"), class: "title-image", alt: "Jack in the biobox"}
          %h3
            get a biobox
          %p
            see the list of created bioboxes which you can download and use
