!!! 5
%HTML{lang: "en"}

  = partial "_header"

  %body
    = partial "_nav"
    .container-fluid
      .banner
        .description
          .logo-background
            .logo-padding
            .logo
            .logo-title
              %h1
                bio
                %strong
                  boxes
          %h2
            hassle-free bioinformatics software
