!!! 5
%HTML{lang: "en"}

  = partial "_header"

  %body
    .container-fluid
      .banner
        .description
          .logo-background
            .logo-padding
            .logo
            .logo-title
              %h1
                bio
                %strong
                  boxes
          .tagline
            %h2
              a standard for creating interchangable bioinformatics software containers
