!!! 5
%HTML{lang: "en"}

  = partial "_header"

  %body
    .container-fluid
      .banner
        .description
          .logo-background
            .logo-padding
            .logo
            .logo-title
              %h1
                bio
                %strong
                  boxes
          .tagline
            %h2
              a standard for creating interchangable bioinformatics software containers
      .menus
        .left-menu
          %h3
            Documentation
          %ul
            %li
              %a{:href => "/guide/user/"}
                User Guide
            %li
              %a{:href => "/how-to-create-a-biobox/"}
                Create a Biobox
            %li
              %a{:href => "/contribute/getting-started/"}
                How to Help
        .right-menu
          %h3
            Community
          %ul
            - data.guides.community.each do |name, url|
              %li
                %a{:href => url}
                  = name
