.footer
  .twitter
    %a{href: "http://twitter.com/bioboxes"}
      Follow
      %img{src: logo("logo_only_light.png"), alt: "the bioboxes logo"}
      %span.brand
        bio
        %strong
          boxes
      on twitter.
