%link{rel: "stylesheet", href: "/stylesheets/stylesheet.css" }
%link{rel: "icon", href: logo("favicon.ico")}

%script{src: '//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'}
%script{src: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"}
%script{src: '/javascripts/all.js'}

%meta{name: "viewport", content: "width=device-width, initial-scale=1"}

%title= current_page.data.page_title
