%nav{class: "navbar navbar-fixed-top"}
  .container
    .navbar-header
      %a{class: "navbar-brand", href: "/"}
        bio
        %strong
          boxes
    %div{id: "navbar"}
      %ul{class: "nav navbar-nav navbar-right"}
        %li
          %a{href: "/contribute/" }
            Contribute
