%nav{:class => "navbar navbar-fixed-top"}
  .container
    .navbar-header
      %a.navbar-brand{:href =>"/"}
        bio
        %strong
          boxes

    %div{:id => "navbar"}
      %ul{ :class => "nav navbar-nav navbar-right"}
        %li
          %a{ :href => "/manifesto/" }
            Manifesto
        %li
          %a{:href => "/available-bioboxes/"}
            Available Bioboxes
        %li
          %a{:href => "/documentation/"}
            Documentation
        %li
          %a{:href => "#", :class => "dropdown-toggle",
            :"data-toggle" => "dropdown",
            :role => "button",
            :"aria-expanded" => "false"}
            Community
            %span.caret
          %ul{:class => "dropdown-menu", :role => "menu"}
            - data.guides.community.each do |name, url|
              %li
                %a{:href => url}
                  = name
        %li
          %a{:href => "https://github.com/bioboxes"}
            %img{:src => 'https://s3-us-west-1.amazonaws.com/bioboxes-images/third-party-website/GitHub-Mark-Light-64px.png', :alt => "GitHub Logo"}
        %li
          %a{:href => "https://twitter.com/bioboxes"}
            %img{:src => 'https://s3-us-west-1.amazonaws.com/bioboxes-images/third-party-website/Twitter_logo_white.png', :alt => "Twitter Logo"}
