%nav{class: "navbar navbar-fixed-top"}
  .container
    .navbar-header
      %a.navbar-brand{href: "/"}
        bio
        %strong
          boxes
    %div{id: "navbar"}
      %ul{class: "nav navbar-nav navbar-right"}
        %li
          %a{href: "/getting-started/" }
            Getting Started
        %li
          %a{href: "/contribute/how-to-contribute/" }
            Contribute
