%nav{:class => "navbar navbar-fixed-top"}
  .container
    .navbar-header
      %a.navbar-brand{:href =>"/"}
        bio
        %strong
          boxes

    %div{:id => "navbar"}
      %ul{ :class => "nav navbar-nav navbar-right"}
        %li
          %a{:href => "#", :class => "dropdown-toggle",
            :"data-toggle" => "dropdown",
            :role => "button",
            :"aria-expanded" => "false"}
            User Guide
            %span.caret
          %ul{:class => "dropdown-menu", :role => "menu"}
            - data.guides.user.each do |name, url|
              %li
                %a{:href => "/guide/user" + url }
                  = name
        %li
          %a{ :href => "/how-to-create-a-biobox/" }
            How to create a biobox
        %li
          %a{:href => "#", :class => "dropdown-toggle",
            :"data-toggle" => "dropdown",
            :role => "button",
            :"aria-expanded" => "false"}
            Tools
            %span.caret
          %ul{:class => "dropdown-menu", :role => "menu"}
            %li
              %a{:href => "/validate-biobox-file/"}
                Biobox File Validator
            %li
              %a{:href => "/validator/short-read-assembler/"}
                Assembler Validator
        %li
          %a{:href => "#", :class => "dropdown-toggle",
            :"data-toggle" => "dropdown",
            :role => "button",
            :"aria-expanded" => "false"}
            Community
            %span.caret
          %ul{:class => "dropdown-menu", :role => "menu"}
            - data.guides.community.each do |name, url|
              %li
                %a{:href => url}
                  = name
