- if current_page.url =~ /contribute/
  %img{src: image("contribute.png"), class: "title-image", alt: "Exploded biobox"}

- if current_page.url =~ /getting-started/
  %img{src: image("getting-started.png"), class: "title-image", alt: "Jack in the biobox"}
